<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Author</th>
      <th>Quote</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr class="success">
    <div class="container">
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.author %></td>
        <td><%= quote.quote %></td>
        <td><%= quote.background %></td>
        <td><%= link_to 'Show', quote , class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Quote', new_quote_path , class: "btn btn-default" %>
