<!DOCTYPE html>
<html lang="eng>"
<head>
 <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="view point" content="width=device-width,initial-scale=1">
  
</head>
<body class="container">
<%= yield %>


</body>
<body>


</body>
</html>
